<a
  title="{{ value.label }}"
  class="collection-link" 

  :aria-current="filters.find((f) => f === '{{ value.value }}') ? 'page' : undefined" 
  :href="filters.find((f) => f === '{{ value.value }}') ? '{{ value.url_to_remove }}' : '{{ value.url_to_add }}'"
  {% if value.active %}
    href="{{ value.url_to_remove }}"
    aria-current="page"
  {% else %}
    href="{{ value.url_to_add }}"
  {% endif %}
>
  {{ value.label }}
</a>
