<menu
	@keyup.escape.window='closeMenu'
	x-trap.inert='menu'
	aria-label='Main Menu'
	:aria-hidden='!menu'
	:class="{ 'pointer-events-auto': menu }"
	x-ref='menu'
	style='clip-path: inset(0 0 calc(100% - var(--menu-height)) 0)'
	class='fixed lg:absolute text-mahogany flex flex-col top-0 left-0 w-full h-svh lg:px-4 overflow-scroll lg:pt-20 lg:pb-8 lg:overflow-hidden lg:h-auto bg-bone-tint pb-4 lg:grid lg:grid-cols-20 gap-x-3 after:absolute after:left-4 after:right-4 after:bottom-0 after:h-[1px] after:bg-current after:hidden lg:after:block'
>
	<ul class='flex flex-col gap-1.5 lg:gap-0 relative px-4 lg:px-0 w-full pt-[120px]  pb-[107px] lg:py-0 lg:col-span-5'>
		{% for navLink in menu.links %}
			{% unless navLink.title == 'Mobile Only' %}
				<li
					class='
						first:border-t first:pt-4 border-current block
						{% if navLink.links != blank %}
						  lg:contents
						{% else %}
						 lg:hidden
						{% endif %}
					'
				>
					{% if navLink.links != blank %}
						<button
							@click='subMenu === {{ forloop.index }} ? subMenu = null :  subMenu = {{ forloop.index }}'
							title='{{ navLink.title }}'
							class='menu-item w-full flex items-center justify-between lg:hidden'
						>
							{{- navLink.title -}}
							{% render 'accordion-icon', hasSubMenu: true %}
						</button>
					{% else %}
						<a
							href='{{ navLink.url }}'
							title='{{ navLink.title }}'
							class='menu-item lg:hidden'
						>
							{{- navLink.title -}}
						</a>
					{% endif %}
					{% if navLink.links != blank %}
						<div
							class='h-0 overflow-hidden lg:!contents'
							x-show='subMenu == {{ forloop.index }}'
							x-collapse.duration.800ms
						>
							<ul class='grid grid-cols-10 gap-y-1.5 pt-10 pb-[34px] lg:contents'>
								{% for link in navLink.links %}
									<li class='col-start-2 col-end-10 last:pt-[18px] lg:last:pt-4'>
										<a
											href='{{ link.url }}#shop'
											title='{{ link.title }}'
											class='menu-item'
											{% if link.links != blank %}
												@mouseenter='hoverCollection = {{ forloop.index0 }}; activeParent = {{ forloop.parentloop.index }}'
												@mouseleave='hoverCollection = null'
												@mouseover='activeCollection = {{ forloop.index0 }}; activeParent = {{ forloop.parentloop.index }}'
											{% else %}
												@mouseenter='hoverCollection = {{ forloop.index0 }}'
												@mouseleave='hoverCollection = null'
											{% endif %}
										>
											{{- link.title -}}
										</a>
										{% if link.links != blank %}
											{% render 'submenu', link: link, parentIndex: forloop.parentloop.index %}
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
				</li>
			{% endunless %}
		{% endfor %}
	</ul>
	<ul class='px-4 flex flex-col gap-2 lg:hidden'>
		{% for navLink in menu.links %}
			{% if navLink.title == 'Mobile Only' and navLink.links != blank %}
				{% for link in navLink.links %}
					<li class='first:border-t first:border-current first:pt-3'>
						<a
							title='{{ link.title }}'
							href='{{ link.url }}'
							class='text-[14px] leading-[18px] font-sans'
						>
							{{- link.title -}}
						</a>
					</li>
				{% endfor %}
			{% endif %}
		{% endfor %}
	</ul>
	<ul class='col-span-4 hidden gap-x-3 lg:grid'>
		{% for navLink in menu.links %}
			{% unless navLink.title == 'Mobile Only' %}
				{% assign nav_parent_collection = navLink.links | where: 'title', 'All Items' | first %}
				{% if nav_parent_collection %}
					<li
						class='transition-opacity gap-3 duration-300 ease-linear grid-cols-4 row-start-1 row-end-1 col-start-1 col-end-1 relative grid'
						:class="{ 'opacity-0 pointer-events-none': activeCollection != 0 && activeParent != {{ forloop.index }} }"
					>
						<a
							title='{{ nav_parent_collection.title }}'
							href='{{ nav_parent_collection.url }}'
							class='col-span-2 relative flex items-start flex-nowrap gap-x-3'
						>
							{% assign collection = nav_parent_collection.object %}
							<span class='aspect-[130/162] relative shrink-0 w-full'>
								{% render 'image', image: collection.featured_image, width: 260, height: 324 %}
							</span>
							<span
								class='whitespace-nowrap text-left medium-accent leading-none -mt-1 opacity-0 duration-300 transition-opacity'
								:class="{ 'opacity-0': hoverCollection != 0 }"
							>
								({{ collection.all_products_count }})
							</span>
						</a>
					</li>
					{% for link in nav_parent_collection.links %}
						{% if link.type == 'collection_link' %}
							<li
								class='transition-opacity gap-3 duration-300 ease-linear grid-cols-4 row-start-1 row-end-1 col-start-1 col-end-1 relative grid'
								:class="{ 'opacity-0 pointer-events-none': activeParent != {{ forloop.parentloop.index }} || activeCollection != {{ forloop.index }} }"
							>
								<a
									title='{{ link.title }}'
									href='{{ link.url }}'
									class='col-span-2 relative flex items-start flex-nowrap gap-x-3'
								>
									{% assign collection = link.object %}
									<span class='aspect-[130/162] relative shrink-0 w-full'>
										{% render 'image', image: collection.featured_image, width: 260, height: 324 %}
									</span>
									<span class='whitespace-nowrap text-left medium-accent leading-none -mt-1'>
										({{ collection.all_products_count }})
									</span>
								</a>
							</li>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endunless %}
		{% endfor %}
	</ul>
	<div class='lg:hidden px-4 mt-auto pt-16'>
		<div class='w-full relative flex flex-col gap-4 lg:grid lg:grid-cols-2 lg:gap-3'>
			<div class='subheading prose-a:hover:opacity-50 prose-a:duration-300 prose-a:ease-linear prose-a:w-max prose-a:pointer-events-auto'>
				{{ section.settings.address }}
			</div>
			<div class='subheading lg:block grid grid-cols-10 gap-2 first:prose-p:col-span-6 richtext-hover-only prose-a:pointer-events-auto'>
				{{ section.settings.contact }}
			</div>
		</div>
	</div>
	<div class='lg:flex hidden col-span-5 items-end col-start-[16]'>
		<div class='w-full flex flex-col gap-4'>
			<h4 class='subheading'>{{ section.settings.contentHeading }}</h4>
			<div class='flex flex-col w-full gap-[18px] small-sans hover:prose-a:opacity-50 prose-a:duration-300 prose-a:ease-linear prose-a:transition-opacity'>
				{{ section.settings.content }}
			</div>
		</div>
	</div>
	<div
		class='absolute left-0 top-0 w-full bottom-0 after:menu-top-gradient lg:hidden pointer-events-none'
	></div>
</menu>
