{% assign has_default_variant = product.options_with_values | where: 'name', 'Title' | first %}

<div class="w-full relative flex flex-col gap-8" x-data="{ activeIndex: null }">
  <div class="w-full relative flex flex-col">
    {% unless has_default_variant %}
      <ul class="w-full flex flex-col" data-swup-history="replace">
        {% for option in product.options_with_values %}
          {% assign selected_option = option.values | where: 'selected', true | first %}
          <li class="w-full relative flex flex-col border-b border-current">
            <button
              :title="activeIndex !== {{ forloop.index0 }} ? 'View {{ option.name }} options' : 'Close {{ option.name }} options'"
              @click="activeIndex == {{ forloop.index0 }} ? activeIndex = null : activeIndex = {{ forloop.index0 }}"
              class="w-full text-left grid grid-cols-5 gap-3 items-center h-10 lg:h-8"
            >
              <p class="small-sans col-span-2">{{ option.name }}</p>
              <span class="small-sans w-full col-span-3 flex items-center justify-between pr-4 lg:pr-0">
                <span class="contents" x-text="selectedOptions[{{ forloop.index0 }}]">{{- selected_option.name }}</span>
                {% render 'product-accordion-icon', index: forloop.index0 %}
              </span>
            </button>
            <div
              class="w-full h-0 overflow-hidden"
              x-show="activeIndex == {{ forloop.index0 }}"
              x-collapse.duration.800ms
            >
              <ul class="w-full relative grid grid-cols-5 gap-x-3 col-span-3">
                {% for value in option.values %}
                  {% assign variant = value.variant %}
                  <li
                    class="col-start-3 col-span-3 {% if value.selected %} hidden {% endif %}"
                  >
                    <a
                      href="{{ variant.url }}"
                      title="{{ value.name | escape }}"
                      class="small-sans hover:opacity-50 flex items-start transition-opacity duration-300 ease-linear no-scroll h-8 lg:h-6 pt-[3px] lg:pt-0"
                    >
                      {{ value.name }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endunless %}
    <div class="w-full grid grid-cols-5 gap-3 items-center border-b border-current h-10 lg:h-8">
      <p class="small-sans col-span-2">Quantity</p>
      <div class="w-full col-span-3 flex items-center justify-between">
        <p class="small-sans" x-quantity="quantity">One</p>
        <div class="flex items-center gap-8 lg:gap-4 pr-4 lg:pr-0">
          <button
            @click="decreaseQuantity"
            :disabled="quantity <= 1"
            title="Decrease quantity"
            class="w-2 relative h-2 flex items-center justify-center after:block after:absolute after:-inset-2 hover:opacity-50 transition-opacity duration-300 ease-linear"
          >
            <span
              class="w-full h-[1px] bg-current block"
            ></span>
          </button>
          <button
            @click="increaseQuantity"
            :disabled="20 <= quantity"
            title="Increase quantity"
            class="w-2 relative h-2 disabled:opacity-50 flex items-center justify-center after:block after:absolute after:-inset-2 hover:opacity-50 transition-opacity duration-300 ease-linear"
          >
            <span
              class="w-full h-[1px] bg-current block"
            ></span>
            <span class="h-full w-[1px] bg-current absolute block"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
