<div class="flex flex-col gap-2 [.related_&]:gap-2 lg:gap-0 relative group">
  <a
    tabindex="-1"
    href="{{ variant.url }}"
    title="{{ product.title }}"
    class="w-full relative aspect-[176/221] lg:aspect-[201/252]"
  >
    {% if variant.featured_image %}
      {% render 'image', width: 804, height: 1008, image: variant.image, priority: priority %}
    {% else %}
      {% render 'image', width: 804, height: 1008, image: product.featured_image, priority: priority %}
    {% endif %}
    {% if product.metafields.custom.hover_image %}
      <div
        class="absolute top-0 left-0 w-full h-full transition-opacity opacity-0 group-hover:opacity-100 duration-700 ease-in-out"
      >
        {% if product.metafields.custom.hover_image or variant.metafields.custom.hover_image %}
          {% if variant.metafields.custom.hover_image %}
            {% render 'image', width: 804, height: 1008, image: variant.metafields.custom.hover_image %}
          {% elsif product.metafields.custom.hover_image %}
            {% render 'image', width: 804, height: 1008, image: product.metafields.custom.hover_image %}
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
    {% if product.tags contains 'New' %}
      <div class="absolute top-0 left-0 w-full h-full pointer-events-none p-2">
        {% render 'product-card-tag', tag: 'New' %}
      </div>
    {% endif %}
  </a>
  <div class="flex flex-col gap-[1px] lg:[.related_&]:opacity-0 [.related_&]:group-hover:opacity-100 [.related_&]:transition-opacity [.related_&]:duration-[--fade-in-duration] [.related_&]:ease-[--fade-in-easing] lg:gap-0 relative [.related_&]:relative [.related_&]:top-auto lg:absolute lg:top-[calc(100%+8px)] lg:left-0 lg:w-full">
    <h3 class="contents">
      <a
        title="{{ product.title }}"
        href="{{ variant.url }}"
        class="after:absolute after:top-0 after:left-0 after:w-full after:h-full small-serif text-balance"
      >
        {{- product.title -}}
      </a>
    </h3>
    {% if variant.available == false %}
      {% render 'product-status', type: 'sold-out' %}
    {% elsif product.tags contains 'Hold' %}
      {% render 'product-status', type: 'on-hold' %}
    {% elsif product.tags contains 'Inquire' %}
      {% render 'product-status', type: 'inquire' %}
    {% elsif variant.available %}
      {% if variant.compare_at_price > 0 %}
        <div class="flex gap-1">
          <p class="small-accent">{{ variant.price | money }}</p>
          <p class="small-accent line-through opacity-50">{{ variant.compare_at_price | money }}</p>
        </div>
      {% else %}
        <p class="small-accent">{{ variant.price | money }}</p>
      {% endif %}
    {% endif %}
  </div>
</div>
