{% assign designer = product.metafields.custom.designer %}
{% assign producer = product.metafields.custom.producer %}
{% assign artist = product.metafields.custom.artist %}
{% assign origin = product.metafields.custom.origin %}
{% assign period = product.metafields.custom.period %}
{% assign material = product.metafields.custom.material %}
{% assign finish = product.metafields.custom.finish %}
{% assign dimensions = product.metafields.custom.dimensions %}
{% assign weight = product.metafields.custom.weight %}
{% assign volume = product.metafields.custom.volume %}
{% assign net_weight = product.metafields.custom.net_weight %}
{% assign lead_time = product.metafields.custom.lead_time %}
{% assign notes = product.metafields.custom.notes %}
{% assign tear_sheet = product.metafields.custom.product_tearsheet %}

{% if selected_variant.metafields.custom.designer %}
  {% assign designer = selected_variant.metafields.custom.designer %}
{% endif %}

{% if selected_variant.metafields.custom.producer %}
  {% assign producer = selected_variant.metafields.custom.producer %}
{% endif %}

{% if selected_variant.metafields.custom.artist %}
  {% assign artist = selected_variant.metafields.custom.artist %}
{% endif %}

{% if selected_variant.metafields.custom.origin %}
  {% assign origin = selected_variant.metafields.custom.origin %}
{% endif %}

{% if selected_variant.metafields.custom.period %}
  {% assign period = selected_variant.metafields.custom.period %}
{% endif %}

{% if selected_variant.metafields.custom.material %}
  {% assign material = selected_variant.metafields.custom.material %}
{% endif %}

{% if selected_variant.metafields.custom.finish %}
  {% assign finish = selected_variant.metafields.custom.finish %}
{% endif %}

{% if selected_variant.metafields.custom.dimensions %}
  {% assign dimensions = selected_variant.metafields.custom.dimensions %}
{% endif %}

{% if selected_variant.metafields.custom.weight %}
  {% assign weight = selected_variant.metafields.custom.weight %}
{% endif %}

{% if selected_variant.metafields.custom.volume %}
  {% assign volume = selected_variant.metafields.custom.volume %}
{% endif %}

{% if selected_variant.metafields.custom.net_weight %}
  {% assign net_weight = selected_variant.metafields.custom.net_weight %}
{% endif %}

{% if selected_variant.metafields.custom.lead_time %}
  {% assign lead_time = selected_variant.metafields.custom.lead_time %}
{% endif %}

{% if selected_variant.metafields.custom.notes %}
  {% assign notes = selected_variant.metafields.custom.notes %}
{% endif %}

{% if selected_variant.metafields.custom.product_tearsheet %}
  {% assign tear_sheet = selected_variant.metafields.custom.product_tearsheet %}
{% endif %}

<div class="w-full flex flex-col-reverse lg:flex-col small-sans gap-y-12 lg:gap-0 lg:h-full lg:justify-between lg:items-end">
  <div class="w-full grid grid-cols-5 gap-x-3 gap-y-8 lg:pt-2.5">
    {% if product.description != blank %}
      <div class="richtext col-span-4">
        {{ product.description }}
      </div>
    {% endif %}
    <ul class="w-full flex flex-col col-span-5" id="product-information">
      {% if designer != blank %}
        <li class="w-full grid grid-cols-10 gap-3">
          <p class="small-sans col-span-4">Designer</p>
          {% if designer %}
            <div class="col-span-6 richtext small-sans">{{ designer | metafield_tag }}</div>
          {% else %}
            <p class="col-span-6 small-sans">--</p>
          {% endif %}
        </li>
      {% endif %}
      {% if producer != blank %}
        <li class="w-full grid grid-cols-10 gap-3">
          <p class="small-sans col-span-4">Producer</p>
          {% if producer %}
            <div class="col-span-6 richtext small-sans">{{ producer | metafield_tag }}</div>
          {% else %}
            <p class="col-span-6 small-sans">--</p>
          {% endif %}
        </li>
      {% endif %}
      {% if origin != blank %}
        <li class="w-full grid grid-cols-10 gap-3">
          <p class="small-sans col-span-4">Origin</p>
          {% if origin %}
            <div class="col-span-6 richtext small-sans">{{ origin | metafield_tag }}</div>
          {% else %}
            <p class="col-span-6 small-sans">--</p>
          {% endif %}
        </li>
      {% endif %}
      {% if period != blank %}
        <li class="w-full grid grid-cols-10 gap-3">
          <p class="small-sans col-span-4">Period</p>
          {% if period %}
            <div class="col-span-6 richtext small-sans">{{ period | metafield_tag }}</div>
          {% else %}
            <p class="col-span-6 small-sans">--</p>
          {% endif %}
        </li>
      {% endif %}
      {% if material != blank %}
        <li class="w-full grid grid-cols-10 gap-3">
          <p class="small-sans col-span-4">Material</p>
          {% if material %}
            <div class="col-span-6 richtext small-sans">{{ material | metafield_tag }}</div>
          {% else %}
            <p class="col-span-6 small-sans">--</p>
          {% endif %}
        </li>
      {% endif %}
      {% if finish != blank %}
        <li class="w-full grid grid-cols-10 gap-3">
          <p class="small-sans col-span-4">Finish</p>
          {% if finish %}
            <div class="col-span-6 richtext small-sans">{{ finish | metafield_tag }}</div>
          {% else %}
            <p class="col-span-6 small-sans">--</p>
          {% endif %}
        </li>
      {% endif %}
      {% if dimensions != blank %}
        <li class="w-full grid grid-cols-10 gap-3">
          <p class="small-sans col-span-4">Dimensions</p>
          {% if dimensions %}
            <div class="col-span-6 richtext small-sans">{{ dimensions | metafield_tag }}</div>
          {% else %}
            <p class="col-span-6 small-sans">--</p>
          {% endif %}
        </li>
      {% endif %}
      {% if weight != blank %}
        <li class="w-full grid grid-cols-10 gap-3">
          <p class="small-sans col-span-4">Weight</p>
          {% if weight %}
            <div class="col-span-6 richtext small-sans">{{ weight | metafield_tag }}</div>
          {% else %}
            <p class="col-span-6 small-sans">--</p>
          {% endif %}
        </li>
      {% endif %}
      {% if net_weight != blank %}
        <li class="w-full grid grid-cols-10 gap-3">
          <p class="small-sans col-span-4">Net Weight</p>
          {% if net_weight %}
            <div class="col-span-6 richtext small-sans">{{ net_weight | metafield_tag }}</div>
          {% else %}
            <p class="col-span-6 small-sans">--</p>
          {% endif %}
        </li>
      {% endif %}
      {% if volume != blank %}
        <li class="w-full grid grid-cols-10 gap-3">
          <p class="small-sans col-span-4">Volume</p>
          {% if volume %}
            <div class="col-span-6 richtext small-sans">{{ volume | metafield_tag }}</div>
          {% else %}
            <p class="col-span-6 small-sans">--</p>
          {% endif %}
        </li>
      {% endif %}
      {% if lead_time != blank %}
        <li class="w-full grid grid-cols-10 gap-3">
          <p class="small-sans col-span-4">Lead Time</p>
          {% if lead_time %}
            <div class="col-span-6 richtext small-sans">{{ lead_time | metafield_tag }}</div>
          {% else %}
            <p class="col-span-6 small-sans">--</p>
          {% endif %}
        </li>
      {% endif %}
      {% if notes != blank %}
        <li class="w-full grid grid-cols-10 gap-3">
          <p class="small-sans col-span-4">Notes</p>
          {% if notes %}
            <div class="col-span-6 richtext small-sans">{{ notes | metafield_tag }}</div>
          {% else %}
            <p class="col-span-6 small-sans">--</p>
          {% endif %}
        </li>
      {% endif %}
    </ul>
  </div>
  <div class="contents lg:hidden">
    {% render 'product-variant-media-mobile', selected_variant: selected_variant %}
  </div>
  {% if tear_sheet %}
    <div class="w-full grid grid-cols-5 gap-x-3">
      <div class="contents lg:block col-span-3 col-start-3">
        {% assign tear_sheet_url = tear_sheet | file_url %}
        <a
          title="Download Tear Sheet"
          href="{{ tear_sheet_url }}"
          target="_blank"
          class="w-max flex items-center gap-2 hover:opacity-50 transition-opacity duration-300 ease-linear leading-none"
        >
          <span>↓</span>
          <span>Download Tear Sheet</span>
        </a>
      </div>
    </div>
  {% endif %}
</div>
