{% assign designer = product.metafields.custom.designer %}
{% assign producer = product.metafields.custom.producer %}
{% assign origin = product.metafields.custom.origin %}
{% assign period = product.metafields.custom.period %}
{% assign material = product.metafields.custom.material %}
{% assign finish = product.metafields.custom.finish %}
{% assign dimensions = product.metafields.custom.dimensions %}
{% assign weight = product.metafields.custom.weight %}
{% assign lead_time = product.metafields.custom.lead_time %}
{% assign notes = product.metafields.custom.notes %}
{% assign tear_sheet = product.metafields.custom.product_tearsheet %}

<div class="w-full flex flex-col-reverse lg:flex-col small-sans gap-y-12 lg:gap-0 lg:h-full lg:justify-between lg:items-end">
  <div class="w-full grid grid-cols-5 gap-x-3 gap-y-8 lg:pt-2.5">
    {% if product.description != blank %}
      <div class="richtext col-span-4">
        {{ product.description }}
      </div>
    {% endif %}
    <ul class="w-full flex flex-col col-span-5">
      <li class="w-full grid grid-cols-10 gap-3">
        <p class="small-sans col-span-4">Designer</p>
        {% if designer %}
          <p class="col-span-6">{{ designer }}</p>
        {% else %}
          <p class="col-span-6">--</p>
        {% endif %}
      </li>
      <li class="w-full grid grid-cols-10 gap-3">
        <p class="small-sans col-span-4">Producer</p>
        {% if producer %}
          <p class="col-span-6">{{ producer }}</p>
        {% else %}
          <p class="col-span-6">--</p>
        {% endif %}
      </li>
      <li class="w-full grid grid-cols-10 gap-3">
        <p class="small-sans col-span-4">Origin</p>
        {% if origin %}
          <p class="col-span-6">{{ origin }}</p>
        {% else %}
          <p class="col-span-6">--</p>
        {% endif %}
      </li>
      <li class="w-full grid grid-cols-10 gap-3">
        <p class="small-sans col-span-4">Period</p>
        {% if period %}
          <p class="col-span-6">{{ period }}</p>
        {% else %}
          <p class="col-span-6">--</p>
        {% endif %}
      </li>
      <li class="w-full grid grid-cols-10 gap-3">
        <p class="small-sans col-span-4">Material</p>
        {% if material %}
          <p class="col-span-6">{{ material }}</p>
        {% else %}
          <p class="col-span-6">--</p>
        {% endif %}
      </li>
      <li class="w-full grid grid-cols-10 gap-3">
        <p class="small-sans col-span-4">Finish</p>
        {% if finish %}
          <p class="col-span-6">{{ finish }}</p>
        {% else %}
          <p class="col-span-6">--</p>
        {% endif %}
      </li>
      <li class="w-full grid grid-cols-10 gap-3">
        <p class="small-sans col-span-4">Dimensions</p>
        {% if dimensions %}
          <p class="col-span-6">{{ dimensions }}</p>
        {% else %}
          <p class="col-span-6">--</p>
        {% endif %}
      </li>
      <li class="w-full grid grid-cols-10 gap-3">
        <p class="small-sans col-span-4">Weight</p>
        {% if weight %}
          <p class="col-span-6">{{ weight }}</p>
        {% else %}
          <p class="col-span-6">--</p>
        {% endif %}
      </li>
      <li class="w-full grid grid-cols-10 gap-3">
        <p class="small-sans col-span-4">Lead Time</p>
        {% if lead_time %}
          <p class="col-span-6">{{ lead_time }}</p>
        {% else %}
          <p class="col-span-6">--</p>
        {% endif %}
      </li>
      <li class="w-full grid grid-cols-10 gap-3">
        <p class="small-sans col-span-4">Notes</p>
        {% if notes %}
          <div class="col-span-6 richtext">{{ notes | metafield_tag }}</div>
        {% else %}
          <p class="col-span-6">--</p>
        {% endif %}
      </li>
    </ul>
  </div>
  <div class="contents lg:hidden">
    {% render 'product-variant-media-mobile' %}
  </div>
  {% if tear_sheet %}
    <div class="w-full grid grid-cols-5 gap-x-3">
      <div class="contents lg:block col-span-3 col-start-3">
        {% assign tear_sheet_url = tear_sheet | file_url %}
        <a
          title="Download Tear Sheet"
          href="{{ tear_sheet_url }}"
          target="_blank"
          class="w-max flex items-center gap-2 hover:opacity-50 transition-opacity duration-300 ease-linear leading-none"
        >
          <span>↓</span>
          <span>Download Tear Sheet</span>
        </a>
      </div>
    </div>
  {% endif %}
</div>
