<div class="absolute top-0 left-0 h-[--infoHeight] w-full">
  <div class="w-full flex items-center justify-center h-screen lg:top-0 lg:sticky">
    <h1 class="w-[259px] h-[34px]">
      <svg
        class="w-full h-full fill-current hidden lg:block"
      >
        <use xlink:href="#the-bar"></use>
      </svg>
      <svg class="w-full h-full fill-current lg:hidden">
        <use xlink:href="#the-bar-mobile"></use>
      </svg>
    </h1>
    <div class="absolute inset-0 hidden lg:flex lg:items-end">
      <div class="px-4 bottom-0 sticky pb-4 w-full grid grid-cols-20 gap-3">
        <ul class="flex flex-col justify-end col-span-5">
          {% for block in section.blocks %}
            <li class="contents">
              <a class="medium-serif text-current pointer-events-auto hover:opacity-50 duration-300 ease-linear transition-opacity" href="#{{ block.settings.title | handleize }}">
                {{ block.settings.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="absolute top-0 left-0 h-[--barHeight] w-full flex items-end">
  <div class="px-4 bottom-0 sticky pb-4 w-full lg:grid lg:grid-cols-20 lg:gap-3">
    <div class="col-span-5 w-full lg:col-start-[16] contents lg:flex lg:items-end">
      {% if mode == 'sticky' %}
        <a
          title="{{ section.settings.sticky_reservation_text }}"
          class="rez-button pointer-events-auto w-full"
          href="{{ section.settings.link }}"
          target="_blank"
        >
          <span class="block">{{ section.settings.sticky_reservation_text }}</span>
          <span class="block text-[15px] font-sans font-normal">→</span>
        </a>
      {% else %}
        <a
          title="{{ section.settings.initial_reservation_text }}"
          class="rez-button is-alt pointer-events-auto w-full"
          href="{{ section.settings.link }}"
          target="_blank"
        >
          <span class="block">{{ section.settings.initial_reservation_text }}</span>
          <span class="block text-[15px] font-sans font-normal">→</span>
        </a>
      {% endif %}
    </div>
  </div>
</div>
