<div class="absolute top-0 left-0 h-[--infoHeight] w-full">
  <div class="w-full flex items-center justify-center h-svh lg:top-0 lg:sticky">
    <div
      :class="
        {
          {% if mode == 'sticky' %}
            'opacity-0': scrollY <= windowHeight / 2
          {% else %}
            'opacity-0': scrollY > windowHeight / 2
          {% endif %},
              'text-bone': theme === 'light'
        }
      "
      class="
        flex w-max
         {% if mode == 'sticky' %}
          opacity-0
         {% endif %}
        items-start gap-x-[9px] relative  duration-200 ease-linear transition-all
      "
    >
      <svg class="w-[29px] h-[19px] fill-current absolute left-[calc(-31px-13px)]" viewBox="0 0 29 19" fill="none">
        <path d="M4.17194 16.368L2.58794 17.904C2.46794 18 2.32394 17.904 2.34794 17.76C3.06794 15.408 3.73994 9.384 4.14794 7.176C4.45994 5.52 4.98794 4.056 6.09194 3.048H0.883938C0.763938 3.048 0.691938 2.904 0.787938 2.808L2.39594 1.272C2.41994 1.248 2.46794 1.224 2.51594 1.224H11.3479C12.2839 1.224 12.8359 1.032 13.0279 0.935999C13.1479 0.887999 13.2679 0.959999 13.2439 1.08C12.7879 3.552 11.6359 9.192 11.4439 10.2C12.3319 8.568 14.3959 5.544 16.4599 5.544C17.6599 5.544 18.2839 6.936 18.2839 8.76C18.2839 12.336 16.1479 14.736 14.6839 16.128H16.5799C16.7239 16.128 16.7959 16.296 16.6999 16.392L15.3079 17.76C15.2839 17.784 15.2359 17.808 15.2119 17.808H12.4519C12.3079 17.808 12.2359 17.616 12.4039 17.52C13.4839 16.968 16.6039 14.256 16.6039 10.128C16.6039 7.968 15.7879 7.2 15.0679 7.2C14.7079 7.2 14.3479 7.32 13.9879 7.56C11.7559 10.56 10.2919 16.392 10.2679 16.488C10.2439 16.56 10.2199 16.608 10.1719 16.656L8.82794 17.976C8.75594 18.072 8.53994 18.024 8.56394 17.832C9.21194 14.52 11.1559 4.368 11.4439 2.832C11.1559 2.952 10.5799 3.048 9.71594 3.048H6.81194C5.68394 4.872 5.63594 10.704 4.21994 16.32C4.21994 16.344 4.19594 16.368 4.17194 16.368ZM21.739 10.632C22.195 10.728 22.771 10.776 23.395 10.776C24.451 10.776 25.771 10.56 26.755 10.032C26.923 9.696 26.995 9.312 26.995 8.88C26.995 8.064 26.491 7.2 25.099 7.2C24.355 7.2 23.635 7.464 22.987 7.896C22.411 8.664 21.979 9.576 21.739 10.632ZM21.499 12.432C21.499 15.048 22.723 16.32 24.283 16.32C25.123 16.32 26.323 15.984 27.403 14.328C27.499 14.184 27.739 14.304 27.643 14.472C27.235 15.312 25.699 18 22.891 18C21.043 18 19.819 16.416 19.819 13.896C19.819 9.36 23.587 5.544 26.467 5.544C28.099 5.544 28.675 6.624 28.675 7.536C28.675 10.104 26.035 12.456 21.955 12.456C21.811 12.456 21.667 12.456 21.499 12.432Z" />
      </svg>
      <h1 class="w-24 h-9 relative flex items-center">
        <svg class="w-full h-full fill-current" viewBox="0 0 97 36" fill="none">
          <path d="M14.6695 0.679999C22.0535 0.679999 27.3055 3.8 27.3055 9.624C27.3055 13.576 24.4455 16.02 20.1295 16.852C25.3815 17.84 28.8655 20.856 28.8655 25.744C28.8655 31.88 23.6135 35 16.2295 35H0.369533V32.92H5.41353V2.76H0.369533V0.679999H14.6695ZM14.6695 2.76H10.5095V16.54H14.6695C20.2855 16.54 21.8975 14.408 21.8975 9.624C21.8975 4.944 20.2855 2.76 14.6695 2.76ZM16.2295 32.92C21.8455 32.92 23.4575 30.736 23.4575 25.744C23.4575 20.908 21.8455 18.62 16.2295 18.62H10.5095V32.92H16.2295ZM62.7898 35H31.0698V32.92H34.8658L45.8898 0.159999H47.9698L58.9938 32.92H62.7898V35ZM40.7418 23.3H50.7258L45.6298 7.804L40.7418 23.3ZM37.7258 32.92H53.8458L51.4018 25.38H40.0658L37.7258 32.92ZM81.6342 35H64.8902V32.92H69.9342V2.76H64.8902V0.679999H82.8302C89.5902 0.679999 94.4262 3.592 94.4262 9.156C94.4262 14.408 90.2142 17.32 84.3382 17.32H82.9862C86.1582 17.788 88.2902 19.868 88.2902 23.456V28.448C88.2902 31.568 89.5382 32.712 91.3062 32.712C93.0742 32.712 94.2702 31.568 94.2702 28.448V19.92H96.6102V29.02C96.6102 33.44 94.1662 35.52 89.9022 35.52C86.0022 35.52 83.1942 33.44 83.1942 29.02V22.416C83.1942 19.088 82.3622 17.58 79.2942 17.58H75.0302V32.92H81.6342V35ZM82.8302 2.76H75.0302V15.5H82.8302C87.6142 15.5 89.0182 13.472 89.0182 9.156C89.0182 4.736 87.6142 2.76 82.8302 2.76Z" />
        </svg>
      </h1>
      <svg
        class="w-[106px] h-[23px] fill-current absolute left-[calc(99px+9px)] hidden lg:block"
        viewBox="0 0 106 23"
        fill="none"
      >
        <path d="M4.904 15.08C6.44 13.04 8.024 8.624 8.552 6.368C8.36 6.296 7.952 6.2 7.28 6.2C6.32 6.2 5.216 6.56 4.208 7.304C3.08 8.744 2.432 10.856 2.432 12.728C2.432 14.456 3.176 15.32 4.064 15.32C4.352 15.32 4.616 15.248 4.904 15.08ZM7.352 12.584C5.984 15.104 4.136 17 2.696 17C1.664 17 0.752 16.136 0.752 14.024C0.752 8.84 5.216 4.544 8.672 4.544C9.512 4.544 9.968 4.688 10.112 4.736C10.256 4.784 10.28 4.88 10.256 5.024L8.768 12.848C8.72 13.16 8.696 13.424 8.696 13.64C8.696 14.816 9.248 15.32 9.872 15.32C9.992 15.32 10.064 15.416 10.016 15.536C9.776 16.208 9.2 17 8.36 17C7.544 17 6.992 16.328 6.992 15.08C6.992 14.336 7.208 13.256 7.352 12.584ZM13.874 6.344H12.914C12.77 6.344 12.722 6.176 12.818 6.08L14.162 4.76L14.306 3.992C14.33 3.872 14.354 3.824 14.402 3.776L15.746 2.456C15.866 2.36 16.034 2.456 16.01 2.6L15.626 4.688H19.01C19.13 4.688 19.202 4.832 19.106 4.928L17.714 6.296C17.666 6.344 17.642 6.344 17.594 6.344H15.338L14.474 11.144C14.306 12.008 14.234 12.752 14.234 13.376C14.234 14.84 14.642 15.344 15.338 15.344C16.37 15.344 17.09 13.952 17.33 13.352C17.402 13.184 17.666 13.28 17.594 13.472C16.706 15.728 15.434 17 14.09 17C13.202 17 12.578 16.328 12.578 14.528C12.578 13.952 12.65 13.256 12.794 12.44L13.874 6.344ZM24.5638 16.688L26.1238 15.176C26.2438 15.056 26.3158 15.08 26.4118 15.2C27.2278 16.304 28.3318 17.312 29.6038 18.152C31.3558 18.152 33.0598 17.432 34.5238 16.208C36.2758 14.024 37.6438 10.64 37.6438 7.304C37.6438 3.488 35.7238 1.784 33.6118 1.784C32.5078 1.784 31.3798 2.216 30.3478 3.008C29.5318 4.136 28.5238 6.104 28.5238 8.864C28.5238 11.816 30.0598 13.208 31.8838 13.208C32.7958 13.208 33.7318 12.824 34.6918 12.056C34.8118 11.96 34.9798 12.104 34.8838 12.248C33.6358 14.072 32.1238 15.008 30.3958 15.008C28.1878 15.008 26.7718 13.256 26.7718 10.352C26.7718 4.568 31.3078 0.0079999 35.0998 0.0079999C37.2598 0.0079999 39.3958 1.664 39.3958 5.768C39.3958 12.344 35.1958 17.168 31.3798 19.16C33.1078 19.976 35.7718 20.864 38.3878 20.864C40.7878 20.864 41.8198 19.832 41.9398 19.04C41.9878 18.8 42.2518 18.848 42.2278 19.064C41.9398 20.888 39.7078 22.664 36.8038 22.664C33.1078 22.664 29.3878 21.008 27.9238 19.952C25.6198 19.952 24.5158 18.656 24.5158 17.264C24.5158 17.072 24.5158 16.976 24.5638 16.688ZM46.5371 14.912C48.7931 11.888 49.8491 6.992 50.0411 6.056C50.0651 5.96 50.0891 5.936 50.1131 5.912L51.4811 4.568C51.6251 4.448 51.7691 4.544 51.7451 4.688C51.4091 6.56 50.2571 12.032 50.1131 12.848C50.0411 13.256 49.9931 13.616 49.9931 13.952C49.9931 15.248 50.6891 15.32 50.9771 15.344C51.0731 15.344 51.1451 15.416 51.1211 15.512C50.9291 16.256 50.3771 17 49.5371 17C48.8411 17 48.3131 16.472 48.3131 15.296C48.3131 14.528 48.5051 13.592 48.6491 13.04C47.5931 14.744 45.7211 17 43.8731 17C42.7691 17 41.9771 16.016 41.9771 14.12C41.9771 12.08 43.1051 9.464 43.1051 7.472C43.1051 6.584 42.8651 6.248 42.4811 6.248C42.3371 6.248 42.1211 6.296 41.9051 6.464C41.7851 6.56 41.6171 6.44 41.6651 6.32C41.9051 5.576 42.6491 4.544 43.5371 4.544C44.3051 4.544 44.7611 5.144 44.7611 6.368C44.7611 8.144 43.6571 10.736 43.6571 12.8C43.6571 14.408 44.2811 15.344 45.2411 15.344C45.6971 15.344 46.1291 15.2 46.5371 14.912ZM57.2634 15.08C58.7994 13.04 60.3834 8.624 60.9114 6.368C60.7194 6.296 60.3114 6.2 59.6394 6.2C58.6794 6.2 57.5754 6.56 56.5674 7.304C55.4394 8.744 54.7914 10.856 54.7914 12.728C54.7914 14.456 55.5354 15.32 56.4234 15.32C56.7114 15.32 56.9754 15.248 57.2634 15.08ZM59.7114 12.584C58.3434 15.104 56.4954 17 55.0554 17C54.0234 17 53.1114 16.136 53.1114 14.024C53.1114 8.84 57.5754 4.544 61.0314 4.544C61.8714 4.544 62.3274 4.688 62.4714 4.736C62.6154 4.784 62.6394 4.88 62.6154 5.024L61.1274 12.848C61.0794 13.16 61.0554 13.424 61.0554 13.64C61.0554 14.816 61.6074 15.32 62.2314 15.32C62.3514 15.32 62.4234 15.416 62.3754 15.536C62.1354 16.208 61.5594 17 60.7194 17C59.9034 17 59.3514 16.328 59.3514 15.08C59.3514 14.336 59.5674 13.256 59.7114 12.584ZM67.9134 7.88C68.9454 6.392 70.4334 4.544 71.9934 4.544C72.6414 4.544 73.0734 4.928 73.0734 5.528C73.0734 6.032 72.7614 6.608 72.1614 7.136C72.0894 7.208 71.9694 7.184 71.9214 7.088C71.7054 6.512 71.2494 6.2 70.6254 6.2C70.2894 6.2 69.9774 6.296 69.6654 6.464C67.7454 9.248 66.7374 14.504 66.5694 15.464C66.5454 15.56 66.5214 15.584 66.4974 15.608L65.1054 16.976C65.0094 17.072 64.8414 17 64.8654 16.832L66.2574 9.104C66.4254 8.24 66.4254 7.832 66.4254 7.52C66.4254 6.632 66.2094 6.248 65.8014 6.248C65.6814 6.248 65.4414 6.32 65.2254 6.488C65.1054 6.584 64.9374 6.464 64.9854 6.32C65.2494 5.6 65.9934 4.544 66.8574 4.544C67.5774 4.544 68.0814 5.12 68.0814 6.392C68.0814 6.8 68.0334 7.472 67.9134 7.88ZM75.0693 6.344H74.1093C73.9653 6.344 73.9173 6.176 74.0133 6.08L75.3573 4.76L75.5013 3.992C75.5253 3.872 75.5493 3.824 75.5973 3.776L76.9413 2.456C77.0613 2.36 77.2293 2.456 77.2053 2.6L76.8213 4.688H80.2053C80.3253 4.688 80.3973 4.832 80.3013 4.928L78.9093 6.296C78.8613 6.344 78.8373 6.344 78.7893 6.344H76.5333L75.6693 11.144C75.5013 12.008 75.4293 12.752 75.4293 13.376C75.4293 14.84 75.8373 15.344 76.5333 15.344C77.5653 15.344 78.2853 13.952 78.5253 13.352C78.5973 13.184 78.8613 13.28 78.7893 13.472C77.9013 15.728 76.6293 17 75.2853 17C74.3973 17 73.7733 16.328 73.7733 14.528C73.7733 13.952 73.8453 13.256 73.9893 12.44L75.0693 6.344ZM82.6687 9.632C83.1247 9.728 83.7007 9.776 84.3247 9.776C85.3807 9.776 86.7007 9.56 87.6847 9.032C87.8527 8.696 87.9247 8.312 87.9247 7.88C87.9247 7.064 87.4207 6.2 86.0287 6.2C85.2847 6.2 84.5647 6.464 83.9167 6.896C83.3407 7.664 82.9087 8.576 82.6687 9.632ZM82.4287 11.432C82.4287 14.048 83.6527 15.32 85.2127 15.32C86.0527 15.32 87.2527 14.984 88.3327 13.328C88.4287 13.184 88.6687 13.304 88.5727 13.472C88.1647 14.312 86.6287 17 83.8207 17C81.9727 17 80.7487 15.416 80.7487 12.896C80.7487 8.36 84.5167 4.544 87.3967 4.544C89.0287 4.544 89.6047 5.624 89.6047 6.536C89.6047 9.104 86.9647 11.456 82.8847 11.456C82.7407 11.456 82.5967 11.456 82.4287 11.432ZM94.2337 7.88C95.2657 6.392 96.7537 4.544 98.3137 4.544C98.9617 4.544 99.3937 4.928 99.3937 5.528C99.3937 6.032 99.0817 6.608 98.4817 7.136C98.4097 7.208 98.2897 7.184 98.2417 7.088C98.0257 6.512 97.5697 6.2 96.9457 6.2C96.6097 6.2 96.2977 6.296 95.9857 6.464C94.0657 9.248 93.0577 14.504 92.8897 15.464C92.8657 15.56 92.8417 15.584 92.8177 15.608L91.4257 16.976C91.3297 17.072 91.1617 17 91.1857 16.832L92.5777 9.104C92.7457 8.24 92.7457 7.832 92.7457 7.52C92.7457 6.632 92.5297 6.248 92.1217 6.248C92.0017 6.248 91.7617 6.32 91.5457 6.488C91.4257 6.584 91.2577 6.464 91.3057 6.32C91.5697 5.6 92.3137 4.544 93.1777 4.544C93.8977 4.544 94.4017 5.12 94.4017 6.392C94.4017 6.8 94.3537 7.472 94.2337 7.88ZM103.252 15.08C103.492 14.624 103.756 13.952 103.756 13.232C103.756 10.712 99.7003 11.984 99.7003 9.272C99.7003 7.064 101.932 4.544 104.332 4.544C105.34 4.544 105.892 5.072 105.892 5.72C105.892 6.296 105.508 6.848 104.86 7.28C104.788 7.328 104.692 7.28 104.644 7.208C104.356 6.536 103.804 6.2 102.964 6.2C102.532 6.2 102.124 6.32 101.74 6.512C101.596 6.8 101.38 7.28 101.38 7.904C101.38 10.328 105.436 9.056 105.436 11.864C105.436 14.216 103.132 17 100.708 17C99.5083 17 98.5963 16.352 98.5963 15.2C98.5963 14.504 98.9803 13.832 99.6283 13.448C99.7243 13.4 99.8203 13.472 99.8443 13.568C99.9403 14.144 100.42 15.344 102.1 15.344C102.532 15.344 102.916 15.248 103.252 15.08Z" />
      </svg>
    </div>
  </div>
  {% if mode == 'initial' %}
    <div class="absolute top-0 left-0 h-screen hidden lg:flex lg:items-end">
      <div class="p-4 w-full grid grid-cols-20 gap-3">
        <ul class="flex flex-col justify-end col-span-5">
          {% for block in section.blocks %}
            <li class="contents">
              <button
                class="medium-serif text-left text-current pointer-events-auto hover:opacity-50 duration-300 ease-linear transition-opacity"
                @click="jumpTo('{{ block.settings.title | handleize }}')"
              >
                {{ block.settings.title }}
              </button>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
</div>
<div
  :class="
    {
      {% if mode == 'sticky' %}
        'opacity-0': scrollY <= 16
      {% else %}
        'opacity-0': scrollY > 16,

      {% endif %}
    }
  "
  class="
    {% if mode == 'sticky' %}
                 opacity-0
                {% endif %}
                  duration-500 ease-in-out transition-opacity
    absolute top-0 left-0 h-[--barHeight] lg:h-[calc(var(--barHeight)+16px)] w-full flex items-end
  "
>
  <div class="px-4 bottom-0 sticky touch:pb-8 pb-4 w-full lg:grid lg:grid-cols-20 lg:gap-3">
    <div
      class="               col-span-5 w-full lg:col-start-[16] contents lg:flex lg:items-end"
    >
      {% if mode == 'sticky' %}
        <a
          title="{{ section.settings.cta_text }}"
          class="rez-button w-full"
          :class="
            {
              'pointer-events-auto': scrollY > 16,
              'bg-bone border-bone hover:bg-bone-hover hover:border-bone-hover text-mahogany hover:text-mahogany': theme === 'light'
            }
          "
          href="{{ section.settings.link }}"

          target="_blank"
        >
          <span class="block whitespace-nowrap">{{ section.settings.cta_text }}</span>
          <span class="block text-[15px] font-sans font-normal">→</span>
        </a>
      {% else %}
        <a
          title="{{ section.settings.cta_text }}"
          class="rez-button is-alt w-full"
          :class="
            {
              'pointer-events-auto': scrollY <= 16
            }
          "
          href="{{ section.settings.link }}"
          target="_blank"
        >
          <span class="block whitespace-nowrap">{{ section.settings.cta_text }}</span>
          <span class="block text-[15px] font-sans font-normal">→</span>
        </a>
      {% endif %}
    </div>
  </div>
</div>
