<!doctype html>
<html class='no-js' class='!p-0' lang='{{ request.locale.iso_code }}'>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
		<style>
			[x-cloak] {
				display: none !important;
			}
		</style>
		<link rel='canonical' href='{{ canonical_url }}'>

		{% if template == 'cart' %}
			<script>
				window.location.href = '/?cart=true';
			</script>
		{% endif %}
		{% if settings.favicon != blank %}
			<link
				fetchpriority='low'
				rel='icon'
				href='{{ settings.favicon | image_url: width: 32, height: 32 }}'
				sizes='32x32'
			>
		{% endif %}

		{% if template == 'index' %}
			<title>{{ page_title }}</title>
		{% else %}
			<title>
				{{ shop.name }}
				|
				{{ page_title }}
			</title>
		{% endif %}
		<meta name='description' content='{{ page_description | default: shop.name | escape }}'>
		{% render 'meta-tags' %}
		<link rel='preconnect' href='https://cdn.shopify.com' crossorigin>
		{%- liquid
			render 'vite-tag' with 'main.css'
			render 'vite-tag' with 'main.js'
		-%}
		{% render 'fonts' %}
		{{ content_for_header }}
	</head>
	<body class='antialiased'>
		{% render 'svg' %}
		<a class='sr-only' href='#main'>Skip to main content</a>
		<div class='relative' x-data='app' style='--menu-height: 0px; --transform-y: 0px;'>
			<div class='contents' id='contents'>
				{% section 'header' %}
				<div id='main'>
					<main
						class='relative will-change-transform lg:translate-y-[--transform-y] z-[1] body-bg'
						x-ref='main'
					>
				
						{% if template.suffix == 'bar' %}
							<div 
								class='bg-vanilla text-current transition-colors duration-[400ms] ease-[cubic-bezier(.4,0,.2,1)]'
								x-data='{ bg: null, text: null, theme: null }'
								@set-theme.window='theme = $event.detail'
								@set-colors.window='
									bg = $event.detail.bg;
									text = $event.detail.text;
								'
								:style='`--bg: ${bg}; --text: ${text};`'
								:class="{ '!bg-[--bg] !text-[--text]': bg && text }"
							>
								{{ content_for_layout }}
								{% if request.design_mode %}
									{% sections 'menus-group' %}
								{% else %}
									<template x-teleport='#menu-container'>
										<div
											class='contents'
											x-data="{ menu: 'drinks' }"
											@set-menu.window='menu = $event.detail'
										>
											{% sections 'menus-group' %}
										</div>
									</template>
								{% endif %}
							</div>
						{% else %}
						
							<div class='bg-bone-tint body-bg'>
								{{ content_for_layout }}
							</div>


							{% assign utility_pages = "page.legal,page.faq,page.shipping,page.privacy" | split: "," %}
							{% assign is_utility_page = false %}
							{% for page_type in utility_pages %}
								{% if template == page_type %}
									{% assign is_utility_page = true %}
									{% break %}
								{% endif %}
							{% endfor %}
							{% if is_utility_page %} 
								<div id="faqs" class="contents">
									{% if template.suffix == 'faq' %}
										{% if request.design_mode %}
											{% sections 'faqs-group' %}
										{% else %}
											{% sections 'faqs-group' %}
										{% endif %}
									{% endif %}
								</div>
							{% endif %}
						{% endif %}
					</main>
					{% sections 'footer-group' %}
				</div>
			</div>
			{% sections 'aside-group' %}
		</div>
	</body>
</html>

