<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>
    <link rel="canonical" href="{{ canonical_url }}">

    {% if template == 'cart' %}
      <script>
        window.location.href = '/?cart=true';
      </script>
    {% endif %}
    {% if settings.favicon != blank %}
      <link
        fetchpriority="low"
        rel="icon"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
        sizes="32x32"
      >
    {% endif %}

    <title>{{ page_title }}</title>
    <meta name="description" content="{{ page_description | default: shop.name | escape }}">
    {% render 'meta-tags' %}
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {%- liquid
      render 'vite-tag' with 'main.css'
      render 'vite-tag' with 'main.js'
    -%}
    {% render 'fonts' %}
    {{ content_for_header }}
  </head>
  <body class="antialiased">
    {% render 'svg' %}
    <a class="sr-only" href="#main">Skip to main content</a>
    <div class="relative" x-data="app" style="--menu-height: 0px; --transform-y: 0px;">
      {% section 'header' %}
      <div  class="relative will-change-transform lg:translate-y-[--transform-y]" x-ref="main">
        <main
          id="main"
          class="min-h-screen"
        >
          {{ content_for_layout }}
        </main>
        {% sections 'footer-group' %}
      </div>
      {% sections 'aside-group' %}
    </div>
  </body>
</html>
