<!doctype html>
<html class="no-js" class="!p-0" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>
    <link rel="canonical" href="{{ canonical_url }}">

    {% if template == 'cart' %}
      <script>
        window.location.href = '/?cart=true';
      </script>
    {% endif %}
    {% if settings.favicon != blank %}
      <link
        fetchpriority="low"
        rel="icon"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
        sizes="32x32"
      >
    {% endif %}

    {% if template == 'index' %}
      <title>{{ page_title }}</title>
    {% else %}
      <title>
        {{ shop.name }}
        |
        {{ page_title }}
      </title>
    {% endif %}
    <meta name="description" content="{{ page_description | default: shop.name | escape }}">
    {% render 'meta-tags' %}
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {%- liquid
      render 'vite-tag' with 'main.css'
      render 'vite-tag' with 'main.js'
    -%}
    {% render 'fonts' %}
    {{ content_for_header }}
  </head>
  <body class="antialiased">
    {% render 'svg' %}
    <a class="sr-only" href="#main">Skip to main content</a>
    <div class="relative" x-data="app" style="--menu-height: 0px; --transform-y: 0px;">
      <div class="contents" id="contents">
        {% section 'header' %}
        <div class="relative will-change-transform lg:translate-y-[--transform-y]" x-ref="main">
          <main id="main">
            {% assign utility_pages = "page.legal,page.faq,page.shipping,page.privacy" | split: "," %}
            {% assign is_utility_page = false %}

            {% for page_type in utility_pages %}
              {% if template == page_type %}
                {% assign is_utility_page = true %}
                {% break %}
              {% endif %}
            {% endfor %}
            <div class="{% if is_utility_page == false %}min-h-[100svh]{% endif %} z-[1] relative bg-bone-tint body-bg">

              {{ content_for_layout }}
              {% if template.suffix == 'bar' %}
                {% if request.design_mode %}
                  {% sections 'menus-group' %}
                {% else %}
                  <template x-teleport="#menu-container">
                    <div class="contents" x-data="{ menu: 'drinks' }" @set-menu.window="menu = $event.detail">
                      {% sections 'menus-group' %}
                    </div>
                  </template>
                {% endif %}
              {% endif %}
            </div>
            {% sections 'footer-group' %}
          </main>
        </div>
      </div>
      {% sections 'aside-group' %}
    </div>
  </body>
</html>
