<div
	class='w-full pb-16 flex flex-col gap-y-16 overflow-hidden'
	style="padding-top: calc(56px + var(--announcement-bar-height, 0px));"
	id='events'
>
	<style>
		@media (min-width: 1024px) {
			#events { padding-top: calc(152px + var(--announcement-bar-height, 0px)) !important; }
		}
	</style>
	<div class='w-full flex flex-col gap-y-8 lg:grid grid-cols-20 gap-3 px-4 z-0 relative'>
		<div class='col-span-7 col-start-4 spicy-body uppercase'>
			{{ section.settings.title }}
		</div>
		<div class='col-span-7 flex flex-col lg:grid lg:grid-cols-7 gap-x-3 gap-y-8'>
			<div class='medium-sans col-span-7 flex flex-col gap-y-8'>{{ section.settings.body }}</div>
			{% if section.settings.cta_link %}
				<div
					class='col-span-5'
					x-data='{ theme: null }'
				>
					<a
            :class="
              {
                'bg-bone border-bone hover:bg-bone-hover hover:border-bone-hover text-mahogany hover:text-mahogany': theme === 'light'
              }
            "
						href='{{ section.settings.cta_link }}'
						class='rez-button'
					>
						{{- section.settings.cta_text -}}
						<span class='block text-[15px] font-sans font-normal'>→</span>
					</a>
				</div>
			{% endif %}
		</div>
	</div>
	<div class='w-full flex flex-col gap-8' x-data='carousel'>
		<div class='w-full contents lg:grid grid-cols-20 gap-3 px-4'>
			<div class='w-full flex items-center justify-between col-span-8 lg:col-end-[20] col-start-2 px-4 lg:px-0'>
				<button
					:disabled='!canScrollPrev'
					aria-label='Prev slide'
					class='large-serif pointer-events-auto hover:opacity-50 duration-300 ease-linear transition-opacity disabled:invisible'
					@click='prev'
				>
					←
				</button>
				<button
					:disabled='!canScrollNext'
					aria-label='Next slide'
					class='large-serif pointer-events-auto hover:opacity-50 duration-300 ease-linear transition-opacity disabled:invisible'
					@click='next'
				>
					→
				</button>
			</div>
		</div>
		<div class='w-full px-4'>
			<ul
				x-ref='container'
				class='w-full flex'
			>
				{% for block in section.blocks %}
					{% assign image_width = block.settings.image.width | default: 0 %}
					{% assign image_height = block.settings.image.height | default: 0 %}
					{% assign aspect_ratio = image_width | divided_by: image_height | times: 1.0 %}
					{% if aspect_ratio >= 1 %}
						{% assign image_orientation = 'horizontal-image' %}
					{% else %}
						{% assign image_orientation = 'portrait-image' %}
					{% endif %}

					<li
						class='
							shrink-0
							{% if image_orientation == 'horizontal-image' %}
							  basis-[calc((100%-72px)*(6/10)+40px)] lg:basis-[calc((100%-228px)*(10/20)+108px)]
							{% else %}
							  basis-[calc((100%-72px)*(5/10)+32px)] lg:basis-[calc((100%-228px)*(7/20)+72px)]
							{% endif %}
							flex flex-col gap-2

							mr-[calc((100%-144px)*(1/10)+24px)] lg:mr-[calc((100%-228px)*(1/20)+24px)]
						'
					>
						<div
							style='--aspectRatio: {{ image_width }} / {{ image_height }}'
							class='w-full aspect-[--aspectRatio] relative overflow-hidden'
						>
							{% render 'image', image: block.settings.image, width: 1440 %}
						</div>
						<p class='w-full text-left text-[11px] lg:text-[13px] font-sans leading-[1.2]'>
							{{ block.settings.caption }}
						</p>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "Bar Events",
	"class": "contents",
	"blocks": [
		{
			"type": "event",
			"name": "Event",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "caption",
					"label": "Caption",
					"info": "The caption of the event"
				}
			]
		}
	],
	"settings": [
		{
			"type": "richtext",
			"id": "title",
			"label": "Title",
			"info": "The title of the events section"
		},
		{
			"type": "richtext",
			"id": "body",
			"label": "Body",
			"info": "The body of the events section"
		},
		{
			"type": "url",
			"id": "cta_link",
			"label": "CTA Link",
			"info": "The link of the CTA"
		},
		{
			"type": "text",
			"id": "cta_text",
			"label": "CTA Text",
			"info": "The text of the CTA"
		}
	],
	"presets": [
		{
			"name": "Bar Events"
		}
	]
}
{% endschema %}
