{% capture header %}
<div class="pt-6 md:pt-8 pb-6 flex items-end justify-between w-full relative">
  <p class="h7-jubilee md:h6-jubilee">
    Bag <span :class="$store.cart.hasItems ? 'contents' : 'hidden'">(<span class="contents" x-text="$store.cart.count">{{ cart.item_count }}</span>)</span>
  </p> 
  <button
    @click="$store.cart.close()"
    aria-label="Close bag"
    class="w-max h-max h7-jubilee md:text-[34px] font-jubilee leading-none"
  >
    x
  </button>
</div>
{% endcapture %}

{% capture shipping %}
<div class="w-full flex gap-1 flex-col items-center justify-center pb-3">
  <p x-show="$store.cart.hasItems" class="uppercase font-futura text-[12px]">
    <span class="contents" x-text="$store.cart.count">{{ cart.item_count }}</span
    ><span class="contents" x-text="$store.cart.count == 1 ? ' Item' : ' Items'"></span>
  </p>
  <div
    class="w-full h-[9px] border border-current rounded-full overflow-hidden after:w-full after:h-full after:block after:bg-current after:translate-x-[--x] after:transition-transform after:duration-300 after:ease-in-out"
    :style="
      {
      '--x': $store.cart.freeShippingProgress
      }
    "
  ></div>
  <div class="w-full flex items-center justify-center">
    <div
      x-show="!$store.cart.hasItems"
      class="text-center font-futura text-[12px]"
    >
      {{ section.settings.freeShippingInitial }}
    </div>
    <div
      x-show="!$store.cart.hasFreeShipping && $store.cart.hasItems"
      class="text-center font-futura text-[12px]"
    >
      {{
        section.settings.freeShippingText
        | replace_first: '%money%', '<span x-text="$store.cart.freeShippingLeft"></span>'
      }}
    </div>
    <div x-show="$store.cart.hasFreeShipping" class="text-center  font-futura text-[12px] font-medium">
      {{ section.settings.freeShippingSuccess }}
    </div>
  </div>
</div>
{% endcapture %}

{% capture items %}
<template x-for="(line, index) in $store.cart.cartLines" :key="line.key">
  {% render 'cart-line' %}
</template>
{% endcapture %}

{% capture cartCheckout %}
<div class="border-t-2 border-current flex flex-col gap-6 py-6">
  <div class="flex items-center justify-between">
    <p class="p2-souvenir">Subtotal</p>
    <p class="flex gap-1 font-futura text-[32px] font-bold tracking-[-0.05em]">
      <sup
        class="line-through top-2 leading-none text-[65%]"
        x-show="$store.cart.totalPrice !== $store.cart.subtotalPrice"
        x-money="$store.cart.totalPrice"
      ></sup>
      <span
        x-money="$store.cart.subtotalPrice"
        data-currency="{{ cart.currency.symbol }}"
      ></span>
    </p>
  </div>
  <!-- Route Code Edited 8/2/2024 -->
  <div class="route-div" desktop-align="center"></div>
  <style>
    .pw-route-protection {
      padding: 0 !important;
      margin: -20px 0 -10px 0
    }
  </style>
  <!-- End Route Code -->
  <a
    href="/checkout"
    aria-label="Checkout"
    rel="external"
    target="_blank"
    data-no-swup
    class="rounded-xl p1-futura flex items-center justify-center border-2 border-brown w-full h-[58px] duration-300 transition-colors hover:bg-brown hover:text-cream"
  >
    Check out
  </a>
</div>
{% endcapture %}

<script id="cart-data" type="application/json">
  {{ cart | json }}
</script>
<div
  class="fixed top-0 left-0 w-full h-full z-10"
  :class="!$store.cart.active && 'pointer-events-none'"
  x-trap.inert.noscroll="$store.cart.active"
  data-threshold="{{ section.settings.freeShippingThreshold }}"
  data-max-upsells="{{ section.settings.maxUpsells }}"
  x-data
>
  <button
    aria-label="Close cart"
    @click="$store.cart.close()"
    class="absolute top-0 left-0 w-full h-full cursor-default"
    x-cloak
    x-show="$store.cart.active"
  ></button>
  <div
    x-cloak
    x-show="$store.cart.active"
    x-transition:enter="duration-500 transition-transform ease-in-out transform"
    x-transition:enter-start="translate-x-full"
    x-transition:enter-end=""
    x-transition:leave="duration-500 transition-transform ease-in-out transform"
    x-transition:leave-start=""
    x-transition:leave-end="translate-x-full"
    style="--texture: url('{{ 'texture.png' | asset_url }}')"
    class="bg-cream bg-texture absolute right-0 top-0 h-full md:h-screen w-full md:w-[623px]"
  >
    <div class="w-full h-full flex flex-col justify-between">
      <div class="w-full shrink-0 h-max flex flex-col px-5 md:px-9">
        {{ header }}
        {{ shipping }}
      </div>
      <div
        id="cart-container"
        class="w-full h-full flex flex-col overflow-scroll no-scrollbar"
      >
        {{ items }}
        <div
          x-show="!$store.cart.hasItems"
          class="text-center h3-jubilee pt-7 px-10 md:px-9 pb-12 md:pb-0"
        >
          {{ section.settings.emptyBody }}
        </div>
        {% render 'cart-upsells' %}
      </div>
      <div
        class="sticky shrink-0 bottom-0 h-max w-full px-5 md:px-9 duration-300"
        x-show="$store.cart.hasItems"
      >
        {{ cartCheckout }}
      </div>
      <div class="hidden md:contents">
        <div
          class="sticky shrink-0 bottom-0 h-max w-full duration-300 bg-bottom py-6 px-5 md:px-9"
          x-show="!$store.cart.hasItems"
        >
          <a
            href="{{ section.settings.emptyCTALink }}"
            aria-label="{{ section.settings.emptyCTAText }}"
            class="rounded-xl p1-futura flex items-center justify-center border-2 border-brown w-full h-[58px] duration-300 transition-colors hover:bg-brown hover:text-cream"
          >
            {{ section.settings.emptyCTAText }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Cart",
  "blocks": [
    {
      "type": "cartUpsell",
      "name": "Cart Upsell",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Cart Upsells"
    },
    {
      "type": "text",
      "id": "upsellTitle",
      "label": "Cart Upsells Title",
      "default": "Complete your routine"
    },
    {
      "type": "number",
      "id": "maxUpsells",
      "label": "The max amount of Cart Upsells to show",
      "default": 2
    },
    {
      "type": "header",
      "content": "Empty Cart"
    },
    {
      "type": "text",
      "id": "emptyUpsellTitle",
      "label": "Cart Upsells Title",
      "default": "Discover our routines"
    },
    {
      "type": "richtext",
      "id": "emptyBody",
      "label": "Empty Cart Message"
    },
    {
      "type": "text",
      "id": "emptyCTAText",
      "label": "Empty Cart CTA Text",
      "default": "Shop all our product"
    },
    {
      "type": "url",
      "id": "emptyCTALink",
      "label": "Empty Cart CTA Link"
    },
    {
      "type": "header",
      "content": "Free Shipping Progress"
    },
    {
      "type": "richtext",
      "id": "freeShippingInitial",
      "label": "Initial Text",
      "info": "The initial text shown without any items in Cart"
    },
    {
      "type": "richtext",
      "id": "freeShippingText",
      "label": "Progress Text",
      "info": "The text shown indicating the amount of dollars left to add, must include `%money%`"
    },
    {
      "type": "richtext",
      "id": "freeShippingSuccess",
      "label": "Success Text",
      "info": "The text shown when Free Shipping is achieved"
    },
    {
      "type": "number",
      "id": "freeShippingThreshold",
      "label": "Free Shipping Threshold",
      "info": "A threshold amount in dollars that controls whether a Cart has Free Shipping",
      "default": 100
    }
  ],
  "presets": [
    {
      "name": "Cart"
    }
  ]
}
{% endschema %}
