{% if template != 'index' %}
	<div class='contents' x-data='footer'>
		<footer
			class='h-screen lg:h-[391px] z-[0] relative'
		>
			<div class='w-full fixed left-0 right-0 bottom-0 h-screen lg:h-[391px] bg-mahogany'>
				<div
					x-ref='footer'
					class='w-full h-full flex flex-col justify-between footer-top-padding lg:pt-12 pb-6 lg:pb-11 relative bg-mahogany footer-bg text-bone gap-y-12 lg:gap-y-24'
				>
					<div class='px-4 w-full flex flex-col lg:grid lg:grid-cols-20 gap-2 lg:gap-3'>
						<ul class='hidden lg:grid grid-cols-3 gap-3 col-span-9'>
							{% for parentLink in section.settings.menu.links %}
								<li class='contents'>
									<ul
										class='
											flex flex-col gap-y-2
											{% if forloop.first %}
											pl-[30px]
											{% endif %}
										'
									>
										{% for childLink in parentLink.links %}
											<li class='contents'>
												<a
													title='{{ childLink.title }}'
													href='{{ childLink.url }}'
													class='subheading hover:opacity-50 duration-300 ease-linear transition-opacity'
												>
													{{- childLink.title -}}
												</a>
											</li>
										{% endfor %}
									</ul>
								</li>
							{% endfor %}
						</ul>
						<ul class='flex flex-col lg:grid lg:grid-cols-3 sm:gap-x-2 lg:gap-3 lg:col-span-9 lg:col-start-12 gap-y-12 xs:gap-y-6 sm:gap-y-12'>
							{% if section.settings.location != blank %}
								<li class='lg:flex lg:flex-col lg:gap-4 grid grid-cols-10 gap-2 pt-2 border-t border-t-current lg:pt-0 lg:border-t-0 '>
									<h4 class='subheading col-span-4'>Location</h4>
									<div class='flex flex-col gap-4 small-sans richtext-hover-only col-span-6'>
										{{ section.settings.location }}
									</div>
								</li>
							{% endif %}
							{% if section.settings.store != blank %}
								<li class='lg:flex lg:flex-col lg:gap-4 grid grid-cols-10 gap-2 pt-2 border-t border-t-current lg:pt-0 lg:border-t-0'>
									<h4 class='subheading col-span-4'>The Store</h4>
									<div class='flex flex-col gap-4 small-sans richtext col-span-6'>
										{{ section.settings.store }}
									</div>
								</li>
							{% endif %}
							{% if section.settings.bar != blank %}
								<li class='lg:flex lg:flex-col lg:gap-4 grid grid-cols-10 gap-2 pt-2 border-t border-t-current lg:pt-0 lg:border-t-0'>
									<h4 class='subheading col-span-4'>The Bar</h4>
									<div class='flex flex-col gap-4 small-sans richtext col-span-6'>
										{{ section.settings.bar }}
									</div>
								</li>
							{% endif %}
						</ul>
					</div>
					<div class='lg:px-4 w-full flex flex-col-reverse gap-12 items-end lg:grid lg:grid-cols-20 lg:gap-3 logo-bg h-full'>
						<div class='flex lg:items-end lg:col-span-9 lg:pl-[30px] w-full'>
							<a
								href='/'
								title='Quarters'
								class='relative w-full lg:w-[276px] lg:-mb-1'
							>
								<svg
									class='fill-current h-full aspect-[138/22] lg:aspect-[185/31] shrink-0'
								>
									<use xlink:href="#wordmark"></use>
								</svg>
							</a>
						</div>
						<div class='flex flex-col gap-4 lg:col-span-8 lg:col-start-12 w-full px-4 lg:px-0'>
							{% render 'newsletter' %}
							<div class='flex items-center gap-4 subheading'>
								<p class='p4-souvenir'>© Quarters, {{ 'now' | date: '%Y' }}</p>
								<button
									title='Site Credits'
									@click='toggleCredits'
									class='subheading hover:opacity-50 duration-300 ease-linear transition-opacity'
								>
									Site Credits
								</button>
							</div>
						</div>
					</div>
					<div class='absolute inset-0 hidden lg:flex items-center justify-center pointer-events-none'>
						<div class='w-[1px] bg-bone h-[calc(100%-32px)]'></div>
					</div>
				</div>
			</div>
		</footer>

		{% render 'site-credits' %}
	</div>
{% endif %}

{% schema %}
{
	"name": "Footer",
	"class": "contents",
	"settings": [
		{
			"type": "link_list",
			"id": "menu",
			"label": "Footer Menu",
			"default": "footer"
		},
		{
			"type": "text",
			"id": "listId",
			"label": "List Id",
			"info": "The Klaviyo List ID"
		},
		{
			"type": "richtext",
			"id": "location",
			"label": "Location Details"
		},
		{
			"type": "richtext",
			"id": "store",
			"label": "Store Details"
		},
		{
			"type": "richtext",
			"id": "bar",
			"label": "Bar Details"
		},
		{
			"type": "richtext",
			"id": "credits",
			"label": "Credits"
		}
	],
	"presets": [
		{
			"name": "Footer"
		}
	]
}
{% endschema %}
