{% if template != 'index' %}
  <footer class="h-[--height] overflow-hidden z-[0]" x-data="footer" :style="`--height: ${height}px;`">
    <div class="w-full absolute top-0 bottom-0 left-0 flex items-end">
      <div class="w-full bottom-0 sticky h-max" x-ref="footer">
        <div class="w-full h-full flex justify-between pt-[120px] lg:pt-12 pb-6 lg:pb-11 relative bg-mahogany text-bone flex-col gap-y-24">
          <div class="px-4 w-full grid grid-cols-10 lg:grid-cols-20 gap-2 lg:gap-3">
            <ul class="hidden lg:grid grid-cols-3 gap-3 col-span-9">
              {% for parentLink in section.settings.menu.links %}
                <li class="contents">
                  <ul
                    class="
                      flex flex-col gap-y-2
                      {% if forloop.first %}
                      pl-[30px]
                      {% endif %}
                    "
                  >
                    {% for childLink in parentLink.links %}
                      <li class="contents">
                        <a
                          title="{{ childLink.title }}"
                          href="{{ childLink.url }}"
                          class="subheading hover:opacity-50 duration-300 ease-linear transition-opacity"
                        >
                          {{- childLink.title -}}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>
            <ul class="flex flex-col lg:grid lg:grid-cols-3 lg:gap-3 lg:col-span-9 lg:col-start-12 gap-y-12">
              {% if section.settings.location != blank %}
                <li class="flex flex-col gap-4">
                  <h4 class="subheading">Location</h4>
                  <div class="flex flex-col gap-4 small-sans richtext-hover-only">
                    {{ section.settings.location }}
                  </div>
                </li>
              {% endif %}
              {% if section.settings.store != blank %}
                <li class="flex flex-col gap-4">
                  <h4 class="subheading">The Store</h4>
                  <div class="flex flex-col gap-4 small-sans richtext">
                    {{ section.settings.store }}
                  </div>
                </li>
              {% endif %}
              {% if section.settings.bar != blank %}
                <li class="flex flex-col gap-4">
                  <h4 class="subheading">The Bar</h4>
                  <div class="flex flex-col gap-4 small-sans richtext">
                    {{ section.settings.bar }}
                  </div>
                </li>
              {% endif %}
            </ul>
          </div>
          <div class="px-4 w-full flex flex-col-reverse gap-12 items-end lg:grid lg:grid-cols-20 lg:gap-3">
            <div class="flex items-end col-span-9 pl-[30px]">
              <a
                href="/"
                title="Quarters"
                class="relative w-full lg:w-[276px]"
              >
                <svg
                  class="fill-current h-full text-bone aspect-[138/22] lg:aspect-[185/31] shrink-0"
                >
                  <use xlink:href="#wordmark"></use>
                </svg>
              </a>
            </div>
            <div class="flex flex-col gap-4 col-span-8 col-start-12">
              {% render 'newsletter' %}
              <div class="flex items-center gap-4 subheading">
                <p class="p4-souvenir">© Quarters {{ 'now' | date: '%Y' }}</p>
                <button
                  title="Site Credits"
                  @click="toggleCredits"
                  class="subheading hover:opacity-50 duration-300 ease-linear transition-opacity"
                >
                  Site Credits
                </button>
              </div>
            </div>
          </div>
          <div class="absolute inset-0 hidden lg:flex items-center justify-center pointer-events-none">
            <div class="w-[1px] bg-bone h-[calc(100%-32px)]"></div>
          </div>
        </div>
        <div class="overflow-hidden" x-collapse.duration.1200ms x-show="siteCredits">
          <div class="w-full h-10 bg-chartreuse px-4 flex items-center richtext medium-accent">
            {{ section.settings.credits }}
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endif %}

{% schema %}
{
  "name": "Footer",
  "class": "contents",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Footer Menu",
      "default": "footer"
    },
    {
      "type": "text",
      "id": "listId",
      "label": "List Id",
      "info": "The Klaviyo List ID"
    },
    {
      "type": "richtext",
      "id": "location",
      "label": "Location Details"
    },
    {
      "type": "richtext",
      "id": "store",
      "label": "Store Details"
    },
    {
      "type": "richtext",
      "id": "bar",
      "label": "Bar Details"
    },
    {
      "type": "richtext",
      "id": "credits",
      "label": "Credits"
    }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
