{% if template != 'index' %}
	<div class='contents' x-data='footer'>
		<footer
			class='h-[calc(100vh+var(--credits-mobile))] lg:h-[calc(var(--height)+var(--credits-desktop))] z-[0] relative'
			:style='`--height: 391px; --credits-mobile: ${creditsMobile}px; --credits-desktop: ${creditsDesktop}px;`'
		>
			<div class='w-full fixed flex flex-col left-0 right-0 bottom-0 h-[calc(100vh+var(--credits-mobile))] lg:h-max bg-mahogany footer-bg pt-[58px] lg:pt-0'>
				<div
					x-ref='footer'
					class='w-full h-full flex flex-col justify-between lg:pt-12 pb-6 lg:pb-11 relative bg-mahogany footer-bg text-bone gap-y-12 lg:gap-y-24'
				>
					<div class='px-4 w-full flex flex-col lg:grid lg:grid-cols-20 gap-2 lg:gap-3'>
						<ul class='hidden lg:grid grid-cols-3 gap-3 col-span-9'>
							{% for parentLink in section.settings.menu.links %}
								<li class='contents'>
									<ul
										class='
											flex flex-col gap-y-2
											{% if forloop.first %}
											pl-[30px]
											{% endif %}
										'
									>
										{% for childLink in parentLink.links %}
											<li class='contents'>
												<a
													title='{{ childLink.title }}'
													href='{{ childLink.url }}'
													class='subheading hover:opacity-50 duration-300 ease-linear transition-opacity'
												>
													{{- childLink.title -}}
												</a>
											</li>
										{% endfor %}
									</ul>
								</li>
							{% endfor %}
						</ul>
						<ul class='flex flex-col lg:grid lg:grid-cols-3 sm:gap-x-2 lg:gap-3 lg:col-span-9 lg:col-start-12 gap-y-12 xs:gap-y-6 sm:gap-y-12'>
							{% if section.settings.location != blank %}
								<li class='lg:flex lg:flex-col lg:gap-4 grid grid-cols-10 gap-2 pt-2 border-t border-t-current lg:pt-0 lg:border-t-0 '>
									<h4 class='subheading col-span-4'>Location</h4>
									<div class='flex flex-col gap-4 small-sans richtext-hover-only col-span-6'>
										{{ section.settings.location }}
									</div>
								</li>
							{% endif %}
							{% if section.settings.store != blank %}
								<li class='lg:flex lg:flex-col lg:gap-4 grid grid-cols-10 gap-2 pt-2 border-t border-t-current lg:pt-0 lg:border-t-0'>
									<h4 class='subheading col-span-4'>The Store</h4>
									<div class='flex flex-col gap-4 small-sans richtext col-span-6'>
										{{ section.settings.store }}
									</div>
								</li>
							{% endif %}
							{% if section.settings.bar != blank %}
								<li class='lg:flex lg:flex-col lg:gap-4 grid grid-cols-10 gap-2 pt-2 border-t border-t-current lg:pt-0 lg:border-t-0'>
									<h4 class='subheading col-span-4'>The Bar</h4>
									<div class='flex flex-col gap-4 small-sans richtext col-span-6'>
										{{ section.settings.bar }}
									</div>
								</li>
							{% endif %}
						</ul>
					</div>
					<div class='lg:px-4 w-full flex flex-col-reverse gap-12 items-end lg:grid lg:grid-cols-20 lg:gap-3 logo-bg lg:h-full'>
						<div class='flex lg:items-end lg:col-span-9 lg:pl-[30px] w-full px-4 lg:px-0'>
							<a
								href='/'
								title='Quarters'
								class='relative w-full lg:w-[276px] lg:-mb-1'
							> 
								<svg
									class="w-full h-auto"
									viewBox='0 0 361 60'
									fill='none' 
								>
									<path d="M22.576 49.7561C26.6255 49.3705 30.4795 48.0949 33.7759 46.1767L36.4365 49.6276C42.3837 57.1127 43.7629 59.822 49.6612 60L59.1592 56.1536L58.269 53.7212C49.7884 54.9374 48.1451 52.9499 42.775 46.4338C41.474 44.8022 40.3491 43.3092 39.2829 41.8952C43.714 37.4852 46.3648 31.4733 46.3648 24.8879C46.3648 11.203 36.5636 1.09756 23.8476 0.0197763C10.8771 1.10745 0 11.47 0 24.8879C0 38.3059 9.30231 48.4806 22.5857 49.7561M7.71769 21.8721C7.71769 17.3929 8.92083 12.2808 11.6988 7.93013C14.4181 6.52604 17.1374 5.88332 19.6708 5.88332C30.548 5.88332 38.4613 16.5623 38.4613 28.0719C38.4613 31.3349 37.8255 34.7858 36.3778 38.1081C30.4991 30.4351 27.9656 27.0435 22.2727 26.47L12.5987 31.0086L13.8019 33.6289C14.9365 33.1839 16.9613 32.6697 18.5459 32.6697C23.7987 32.6697 26.7038 36.5063 31.3207 42.8345C29.6774 43.2795 28.0928 43.4773 26.6353 43.4773C15.5625 43.4773 7.72747 33.6289 7.72747 21.8622M75.2303 49.7561C86.2347 48.4806 93.3165 41.5689 93.3165 31.3448V9.79895C93.3165 4.30125 97.6791 4.23204 98.8236 4.04417L98.6964 1.2261H82.1851L82.0579 4.04417C85.413 4.36058 88.5138 5.26038 88.5138 11.3316V29.555C88.5138 39.532 85.1 42.6664 81.4906 44.644C72.8925 45.6625 64.4804 40.9954 64.4804 28.5267V11.3316C64.4804 5.26038 67.5811 4.36058 70.9949 4.04417L70.8678 1.2261H51.5099L51.3828 4.04417C52.5175 4.23204 56.8898 4.30125 56.8898 9.79895V31.0877C56.8898 40.9361 63.4729 48.4806 75.2303 49.7561ZM96.0456 45.791L96.2315 48.6684H112.175L112.361 45.791C109.828 45.8504 106.16 44.644 107.803 40.5504L110.395 34.3507H128.677L131.015 40.2933C132.599 44.3869 128.931 45.6625 126.584 45.791L126.77 48.6684H146.186L146.372 45.791C143.017 45.6625 140.865 43.4871 139.349 40.0363L122.837 0.0692153H122.397L118.983 2.37311L103.167 39.1365C100.76 44.12 98.4225 45.5339 96.0163 45.791M111.99 30.6328L119.834 11.7666L126.985 29.9209H113.829L111.99 30.6229V30.6328ZM150.069 45.791L150.197 48.6684H168.41L168.537 45.791C167.461 45.6625 163.099 45.534 163.099 40.0363V27.5082H163.353C165.378 27.5082 166.962 28.3388 168.791 30.7713C172.645 35.824 177.331 42.2215 182.016 48.6783H194.605L194.664 45.8009C190.868 45.2274 188.208 44.1398 185.361 40.4911C180.363 34.2221 179.483 32.8774 174.739 26.4898H169.427C168.351 26.4898 167.784 26.0448 167.53 25.5307C177.399 25.145 184.99 20.9921 184.99 12.8741C184.99 5.26038 177.272 1.23599 169.623 1.23599H150.519L150.392 4.05405C151.468 4.24193 155.518 4.62756 155.518 9.80884V40.056C155.518 45.5537 151.155 45.6823 150.079 45.8108M163.099 23.1575V5.0033H166.258C171.951 5.0033 177.076 7.75214 177.076 14.0804C177.018 20.0923 170.875 22.6533 165.378 23.029C164.615 23.0883 163.861 23.1575 163.099 23.1575ZM203.007 45.791L203.135 48.6684H223.441L223.568 45.791C220.155 45.5339 217.054 44.5748 217.054 38.563V5.95254H221.231C227.559 5.95254 230.337 8.95847 233.252 14.1397L235.844 12.9235L231.482 1.2261H195.045L190.683 12.9235L193.275 14.1397C196.18 8.95847 198.968 5.95254 205.296 5.95254H209.532V38.563C209.532 44.5748 206.431 45.5339 203.017 45.791M238.309 45.791L238.436 48.6684H271.772L276.956 36.0712L274.169 34.9242C271.322 40.1055 267.586 43.4278 261.267 43.4278H253.295L251.338 44.1991V26.4206H258.547C263.673 26.4206 264.054 30.702 264.24 31.9183L267.087 31.7897V16.8886L264.24 16.7601C264.054 17.9763 263.673 22.327 258.547 22.327H253.295L251.338 23.0982V5.96243H259.438C265.825 5.96243 269.053 9.22545 271.831 14.1496L274.423 12.617L269.806 1.23599H238.749L238.622 4.05405C239.698 4.24193 243.748 4.62756 243.748 9.80884V40.056C243.748 45.5537 239.385 45.6823 238.309 45.8108M281.652 45.791L281.779 48.6684H299.992L300.119 45.791C299.043 45.6625 294.681 45.534 294.681 40.0363V27.5082H294.935C296.96 27.5082 298.544 28.3388 300.374 30.7713C304.228 35.824 308.913 42.2215 313.598 48.6783H326.187L326.246 45.8009C322.451 45.2274 319.79 44.1398 316.944 40.4911C311.945 34.2221 311.065 32.8774 306.321 26.4898H301.009C299.933 26.4898 299.366 26.0448 299.112 25.5307C308.981 25.145 316.572 20.9921 316.572 12.8741C316.572 5.26038 308.854 1.23599 301.205 1.23599H282.102L281.974 4.05405C283.05 4.24193 287.1 4.62756 287.1 9.80884V40.056C287.1 45.5537 282.737 45.6823 281.661 45.8108M294.681 23.1575V5.0033H297.84C303.533 5.0033 308.659 7.75214 308.659 14.0804C308.6 20.0923 302.457 22.6533 296.96 23.029C296.197 23.0883 295.444 23.1575 294.681 23.1575ZM345.183 49.7561C355.18 46.4931 361 41.5096 361 35.1813C361 27.9532 354.74 25.0165 346.386 20.2802C339.872 16.6315 336.517 13.3092 336.517 9.78906C336.517 7.09954 338.6 5.56691 340.439 4.54845C341.447 4.36058 342.523 4.16282 343.54 4.16282C349.546 4.16282 354.163 8.05867 353.468 15.2867L355.874 16.2459L360.364 7.22808C357.704 3.00593 352.079 0.642716 346.572 0C340.566 0.444957 329.435 3.39156 329.435 12.4094C329.435 20.2109 336.204 23.2762 344.997 28.586C350.436 31.849 353.595 34.5979 353.595 38.118C353.595 40.3527 351.952 42.528 349.859 44.0013C348.724 44.3869 347.325 44.644 345.878 44.644C339.803 44.644 333.797 40.3626 334.551 31.9875L332.144 31.0877L327.655 40.5504C330.442 45.8603 336.253 49.7561 345.173 49.7561" fill="#F4EED0"/>
								</svg>
							</a>
						</div>
						<div class='flex flex-col gap-4 lg:col-span-8 lg:col-start-12 w-full px-4 lg:px-0'>
							{% render 'newsletter' %}
							<div class='flex items-center gap-4 subheading'>
								<p class='p4-souvenir'>© Quarters, {{ 'now' | date: '%Y' }}</p>
								<button
									title='Site Credits'
									@click='toggleCredits'
									class='subheading hover:opacity-50 duration-300 ease-linear transition-opacity'
								>
									Site Credits
								</button>
							</div>
						</div>
					</div>
					<div class='absolute inset-0 hidden lg:flex items-center justify-center pointer-events-none'>
						<div class='w-[1px] bg-bone h-[calc(100%-32px)] divider'></div>
					</div>
				</div>
				{% render 'site-credits' %}
			</div>
		</footer>
	</div>
{% endif %}

{% schema %}
{
	"name": "Footer",
	"class": "contents",
	"settings": [
		{
			"type": "link_list",
			"id": "menu",
			"label": "Footer Menu",
			"default": "footer"
		},
		{
			"type": "text",
			"id": "listId",
			"label": "List Id",
			"info": "The Klaviyo List ID"
		},
		{
			"type": "richtext",
			"id": "location",
			"label": "Location Details"
		},
		{
			"type": "richtext",
			"id": "store",
			"label": "Store Details"
		},
		{
			"type": "richtext",
			"id": "bar",
			"label": "Bar Details"
		},
		{
			"type": "richtext",
			"id": "credits",
			"label": "Credits"
		}
	],
	"presets": [
		{
			"name": "Footer"
		}
	]
}
{% endschema %}
