<header
  class="fixed top-0 left-0 w-full h-screen z-50 pointer-events-none"
>
  <button
    x-show="menu"
    class="absolute top-0 left-0 h-full w-full hidden lg:block pointer-events-auto"
    @click="closeMenu"
  ></button>
  {% render 'menu', menu: section.settings.menu %}
  <h1 class="flex items-start absolute p-4 top-0 left-0 w-full h-full justify-center">
    <a
      href="/"
      title="Quarters"
      class="
        relative h-[22px] lg:h-[31px] w-[138px] lg:w-[185px] group-[.is-menu]:delay-300 delay-500 transition-opacity duration-300 ease-linear
        {% if section.settings.hideHomepageHeader and template == 'index' %}
          opacity-0
        {% else %}
          pointer-events-auto
        {% endif %}
      "
      {% if section.settings.hideHomepageHeader %}
        :class="
          {
            'opacity-0': activeUrl == '/' && !menu,
            'pointer-events-auto': activeUrl !== '/' || menu
          }
        "
      {% endif %}
    >
      <svg
        {% unless section.settings.hideHomepageHeader %}
          :class="
            {
              'opacity-0': menu
            }
          "
        {% endunless %}

        class="
          {% unless section.settings.hideHomepageHeader %}
          group-[.is-menu]:delay-300 delay-500
           {% endunless %}
          fill-current h-full text-bone-tint aspect-[138/22] lg:aspect-[185/31] shrink-0 transition-opacity duration-300 ease-linear
        "
      >
        <use xlink:href="#wordmark"></use>
      </svg>
      <svg
        {% unless section.settings.hideHomepageHeader %}
          :class="
            {
              'opacity-0 delay-500': activeUrl == '/' && !menu
            }
          "
        {% endunless %}

        class="
             {% unless section.settings.hideHomepageHeader %}
            opacity-0  group-[.is-menu]:delay-300
          {% endunless %}

            absolute w-full h-full top-0 left-0 fill-current text-mahogany aspect-[138/22] lg:aspect-[185/31] shrink-0 transition-opacity duration-300 ease-linear
        "
      >
        <use xlink:href="#wordmark"></use>
      </svg>
    </a>
  </h1>
  <nav
    aria-label="Main Navigation"
    :class="
      {
        'is-menu': menu,
      }
    "
    :style="`--header-theme: ${headerColor}`"
    class="absolute left-0 w-full top-0 flex items-start justify-between h-max p-4 transition-colors ease-linear duration-200 group"
  >
    <ul class="hidden lg:flex items-center gap-16">
      {% for link in section.settings.menu.links %}
        {% unless link.title == 'Mobile Only' %}
          <li class="contents">
            {% if forloop.first %}
              <button
                @click="toggleMenu"
                title="Shop"
                class="nav-link group-[.is-menu]:opacity-100 pointer-events-auto"
              >
                {{ link.title }}
              </button>
            {% else %}
              <a
                title="{{ link.title }}"
                href="{{ link.url }}"
                class="nav-link group-[.is-menu]:opacity-50 group-[.is-menu]:delay-200 group-[.is-menu]:hover:delay-0 group-[.is-menu]:hover:opacity-100 pointer-events-auto"
              >
                {{- link.title -}}
              </a>
            {% endif %}
          </li>
        {% endunless %}
      {% endfor %}
    </ul>
    <button
      @click="toggleMenu"
      title="Toggle Menu"
      class="lg:hidden nav-link"
      :class="menu ? 'opacity-0' : 'pointer-events-auto'"
    >
      Menu
    </button>
    <button
      @click="closeMenu"
      title="Close Menu"
      x-show="menu"
      class="lg:hidden nav-link pointer-events-auto"
    >
      Close
    </button>
    <button
      title="Bag"
      :class="menu && 'hidden'"
      @click="$store.cart.open"
      class="nav-link lg:block group-[.is-menu]:opacity-50 group-[.is-menu]:delay-200 group-[.is-menu]:hover:delay-0 group-[.is-menu]:hover:opacity-100 pointer-events-auto"
    >
      Bag (
      {{- cart.item_count -}}
      )
    </button>
  </nav>
</header>

{% schema %}
{
  "name": "Header",
  "class": "contents",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Navigation Menu"
    },
    {
      "type": "checkbox",
      "id": "hideHomepageHeader",
      "label": "Hide Header on Homepage",
      "default": true
    },
    {
      "type": "text",
      "id": "contentHeading",
      "label": "DesktopContent Heading"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "DesktopContent"
    },
    {
      "type": "richtext",
      "id": "address",
      "label": "Mobile Address"
    },
    {
      "type": "richtext",
      "id": "contact",
      "label": "Mobile Contact"
    }
  ]
}
{% endschema %}
