  <div class="pt-[120px] lg:pt-[160px] w-full px-4 overflow-x-clip">
    <div class="flex flex-col lg:grid grid-cols-20 gap-x-3 gap-y-[64px]">
      <div class="w-full lg:col-span-5 lg:col-start-3 flex flex-col gap-y-16">
        <div class="flex flex-col gap-y-4 large-info richtext-hover-only">
          <div>{{ section.settings.store_address }}</div>
          <div>{{ section.settings.store_contact }}</div>
          <div>{{ section.settings.store_social }}</div>
        </div>
        {% if section.settings.store_info  %}
        <div class="space-y-4 lg:pt-0 border-t border-current lg:border-t-0">
          <h2 class="subheading py-2 lg:pb-0">the store</h2>
          {% assign content = section.settings.store_info | split: "||" %}
          {% for item in content %}
            <div class="large-info richtext-info-links">
              {{ item }}
            </div>
          {% endfor %}
        </div>
        {% endif %}
        {% if section.settings.bar_info %}
        <div class="space-y-4 lg:pt-0 border-t border-current lg:border-t-0">
          <h2 class="subheading py-2 lg:pb-0">the bar</h2>
          {% assign content = section.settings.bar_info | split: "||" %}
          {% for item in content %}
            <div class="large-info richtext-info-links">
              {{ item }}
            </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="w-full lg:col-span-13 col-start-9 flex flex-col-reverse lg:flex-col gap-y-16">
        <div class="lg:grid lg:grid-cols-12 gap-x-3">
          <div class="large-info space-y-4 col-span-9 col-start-3 richtext">{{ section.settings.additional_info }}</div>
        </div>
        <div>
          <div
            x-data="carousel({
              loop: false,
              dragFree: true,
              containScroll: 'trimSnaps',
              slidesToScroll: 1
            })"
            class="embla relative"
          >
          <div class="embla__container flex">
            {% for block in section.blocks %}
              {% if block.type == 'image' %}
              <div class="embla__slide flex-[0_0_calc(78%-8px)] lg:flex-[0_0_calc(33.3%-12px)] mr-2 lg:mr-4">
                  <div class="aspect-w-1 aspect-h-1">
                    {% if block.settings.gallery_image != blank %}
                      {{ block.settings.gallery_image | img_url: '1000x1000', crop: 'center' | img_tag: 'Gallery Image', 'w-full h-full object-cover' }}
                    {% else %}
                      <div class="w-full h-full bg-gray-200 flex items-center justify-center">
                        <span class="text-gray-500">No image</span>
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          </div>
      </div>
    </div>
  </div>

  {% schema %}
    {
      "name": "Hours And Info",
      "settings": [
        {
          "type": "header",
          "content": "Location"
        },
        {
          "type": "richtext",
          "id": "store_address",
          "label": "Address"
        },
        {
          "type": "richtext",
          "id": "store_contact",
          "label": "Contact"
        },
        {
          "type": "richtext",
          "id": "store_social",
          "label": "Social Links"
        },
        {
          "type": "header",
          "content": "The Store"
        },
        {
          "type": "richtext",
          "id": "store_info",
          "label": "Store Info"
        },
        {
          "type": "header",
          "content": "The Bar"
        },
        {
          "type": "richtext",
          "id": "bar_info",
          "label": "Bar Info"
        },
        {
          "type": "header",
          "content": "Paragraph"
        },
        {
          "type": "richtext",
          "id": "additional_info",
          "label": "Paragraph"
        }
      ],
      "blocks": [
        {
          "type": "image",
          "name": "Gallery Image",
          "settings": [
            {
              "type": "image_picker",
              "id": "gallery_image",
              "label": "Image"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Hours And Info",
          "category": "Store Content"
        }
      ]
    }
  {% endschema %}