<div id="page-settings" x-data="pageColors" class="contents" x-data>
  <style>
     :root {
       --text-color: {{ section.settings.textColor }};
       --background-color: {{ section.settings.backgroundColor }};
       --footer-text-color: {{ section.settings.footerTextColor }};
       --footer-background-color: {{ section.settings.footerBackgroundColor }};

       {% if section.settings.headerTheme == 'light' %}
         --header-theme: #F4EED0;
       {% else %}
         --header-theme: #643600;
       {% endif %}
     }

     body, .body-bg, #utility-nav {
       color: var(--text-color) !important;
       background-color: var(--background-color) !important;
       transition: color 200ms ease-linear, background-color 200ms ease-linear;
     }

    footer .logo-bg, .footer-bg {
       color: var(--footer-text-color) !important;
       background-color: var(--footer-background-color) !important;
       transition: color 200ms ease-linear, background-color 200ms ease-linear;
     }

     {% if template == 'page.hours-info' or template == 'page.faq' or template == 'page.shipping' or template == 'page.legal' or template == 'page.privacy' %}
       .nav-gradient::before {
         background: linear-gradient(180deg, var(--background-color) 0%, rgba(2, 43, 38, 0) 100%);
         transition: color 200ms ease-linear, background-color 200ms ease-linear;
       }
     {% endif %}
  </style>

  {% if template == 'page.hours-info' %}
    <div class="absolute top-0 left-0 w-full bottom-0 pointer-events-none nav-gradient z-20"></div>
  {% endif %}
  {% if template == 'page.faq'
    or template == 'page.shipping'
    or template == 'page.legal'
    or template == 'page.privacy'
  %}
    <div
      class="absolute top-[-120px] lg:top-[-160px] left-0 w-full bottom-0 pointer-events-none nav-gradient z-20"
    ></div>
  {% endif %}

  <div 
  class="contents"
  data-color-settings
  data-text-color="{{ section.settings.textColor }}"
  data-background-color="{{ section.settings.backgroundColor }}"
  data-header-theme="{{ section.settings.headerTheme }}"
  data-footer-text-color="{{ section.settings.footerTextColor }}"
  data-footer-background-color="{{ section.settings.footerBackgroundColor }}">
</div>
</div>

{% schema %}
{
  "name": "Page Settings",
  "class": "contents",
  "settings": [
    {
      "type": "select",
      "id": "headerTheme",
      "label": "Header Theme",
      "options": [
        { "label": "Light", "value": "light" },
        { "label": "Dark", "value": "dark" }
      ],
      "default": "dark"
    },
    {
      "type": "color",
      "id": "textColor",
      "label": "Text Color",
      "default": "#643600"
    },
    {
      "type": "color",
      "id": "backgroundColor",
      "label": "Background Color",
      "default": "#FAF8EC"
    },
    {
      "type": "color",
      "id": "footerTextColor",
      "label": "Footer Text Color",
      "default": "#FAF8EC"
    },
    {
      "type": "color",
      "id": "footerBackgroundColor",
      "label": "Footer Background Color",
      "default": "#643600"
    }
  ],
  "presets": [
    {
      "name": "Page Settings"
    }
  ]
}
{% endschema %}