<div class="w-full flex items-center justify-center h-screen top-0 sticky">
  <h1 class="w-[259px] h-[34px]">
    <svg
      class="w-full h-full fill-current"
    >
      <use xlink:href="#the-bar"></use>
    </svg>
  </h1>
</div>
<div class="absolute top-0 left-0 bottom-0 w-full flex items-end">
  <div class="px-4 bottom-0 sticky pb-4 w-full grid grid-cols-20 gap-3">
    <ul class="flex flex-col justify-end col-span-5">
      {% for block in section.blocks %}
        <li class="contents">
          <a class="medium-serif text-current pointer-events-auto" href="#{{ block.settings.title | handleize }}">
            {{ block.settings.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="col-span-5 w-full grid grid-cols-1 grid-rows-1">
      <a
        title="{{ section.settings.initial_reservation_text }}"
        class="rez-button pointer-events-auto"
        href="{{ section.settings.link }}"
        target="_blank"
      >
        <span class="block">{{ section.settings.initial_reservation_text }}</span>
        <span class="block text-[15px] font-sans">→</span>
      </a>
      <a
        title="{{ section.settings.sticky_reservation_text }}"
        class="rez-button is-alt pointer-events-auto"
        href="{{ section.settings.link }}"
        target="_blank"
      >
        <span class="block">{{ section.settings.sticky_reservation_text }}</span>
        <span class="block text-[15px] font-sans">→</span>
      </a>
    </div>
  </div>
</div>
